@import "_varscss";
.goBackContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  .goBack {
    font-size: 27px;
    color: white;
  }
  @media screen and (max-width: $maxWidth) {
    .goBack {
      font-size: 27px;
      color: black;
    }
  }
  .leftArrowHistory {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: center;
  }
}
